@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
	--font: "Rubik", sans-serif;

	--bg: #12151e;
	--fg: #d6d8eb;

	--danger: #eb9797;
	--regular: #d6e4ab;
	--stop: #eec299;
	--blue: #b6d0fd;

	--brighten: brightness(110%);
	--darken: brightness(80%);
}

html {
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
	line-height: 25px;
	overflow-y: hidden;
}

@media only screen and (max-width: 610px) {
	html {
		overflow-y: scroll;
	}
}

body {
	background-image: url("/static/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	color: var(--fg);
	font-family: var(--font);
	user-select: none;
}

button {
	margin: 2px auto;
	width: 200px;
	font-family: var(--font);
	font-size: 14px;
	border: none;
	padding: 15px 60px;
	text-decoration: none;
	outline: none;
	transition-duration: 0.3s;
}

.btn-regular {
	background-color: var(--regular);
	color: var(--bg);
}

.btn-regular:hover {
	filter: var(--brighten);
}

.btn-regular:active {
	filter: var(--darken);
}

.btn-emergency {
	background-color: var(--danger);
	color: var(--bg);
}

.btn-emergency:hover {
	filter: var(--brighten);
}

.btn-emergency:active {
	filter: var(--dark);
}

.btn-stop {
	background-color: var(--stop);
	color: var(--bg);
}

.btn-stop:hover {
	filter: var(--brighten);
}

.btn-stop:active {
	filter: var(--darken);
}

#inner-b {
	background-color: var(--bg);
	text-align: center;
	padding: 40px 80px 40px 80px;
	border: 3px solid var(--blue);
}

#outer-b {
	margin-top: 2rem;
	border: 12px solid var(--bg);
}
